# Created by https://www.gitignore.io/api/netbeans,java

### NetBeans ###
/VisuaLigue/nbproject/private/
/VisuaLigue/build/
/VisuaLigue/nbbuild/
/VisuaLigue/dist/
/VisuaLigue/nbdist/
/VisuaLigue/.nb-gradle/

### LeagueBoard Project ###
/LeagueBoard/nbproject/private/
/LeagueBoard/dist/
/LeagueBoard/build/

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/VisuaLigue/nbproject/private/